<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<!--
  SERIAL TEST SUITE
  Tests run one at a time, in class order.
  Use this when you want deterministic execution (e.g., login → logout → create lead).
-->
<suite name="LeafTaps Automation Suite" verbose="1">

 <!-- Which properties file to load -->
  <parameter name="configClass"  value="com.leaftaps.config.data.LeafTapConfiguration"/>

  <!-- Which URL to open: dev | qa | prod -->
  <parameter name="environment"  value="dev"/>

  <parameter name="browser"      value="chrome"/>
  <parameter name="maxPoolSize"  value="2"/>



    <test name="Smoke Tests" preserve-order="true">
        <classes>
            <class name="com.leaftaps.testcases.TC001_VerifyLogin"/>
            <class name="com.leaftaps.testcases.TC002_VerifyLogout"/>
        </classes>
    </test>

    <test name="Lead Management Tests" preserve-order="true">
        <classes>
            <class name="com.leaftaps.testcases.TC003_CreateLead"/>
            <class name="com.leaftaps.testcases.TC004_EditLead"/>
            <class name="com.leaftaps.testcases.TC005_DeleteLead"/>
            <class name="com.leaftaps.testcases.TC006_DuplicateLead"/>
        </classes>
    </test>

</suite>
